* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  overflow-x: hidden;
  border: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #050505;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
}

.barra__azul {
  width: 0.375rem;
  height: 15.625rem;
  background: #0a22fc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo {
  font-size: 1.625rem;
  font-weight: 400;
  color: #ffffff;
  margin: 2rem 1rem;
}

.fondo__gris {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e0e0e0;
  padding: 0 10px;
}

.fondo__gris .intro {
  text-align: left;
  margin: 0 auto;
}

.fondo__gris h1 {
  font-size: 3rem;
  font-weight: 600;
}

.fondo__gris h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

.fondo__gris h3 {
  font-size: 1rem;
  font-weight: 400;
}

.fondo__gris h4 {
  margin-top: 4rem;
  font-weight: 400;
}

.boton {
  background: #0a22fc;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 42px;
}
